.DS_Store
.pytest_cache/
.Rhistory
.Rproj
.Rproj.user
.vscode/
*.bkp
check/
docs/
FastRet.Rproj
inst/doc/
out/
rcmdcheck.log
reproduce_results.html
reproduce_results.md
revdep
test.log
tests/testthat/Rplots.pdf
